body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#root, body, .App {
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #11150f;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #11150f;
}

::-webkit-scrollbar-thumb {
  background-color: #a5875f;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 -1px 1px #a5875f;
  border-right: 6px solid #a5875f;
  border-left: 6px solid #a5875f;
  border-radius: 0px 0px 100px 100px;
  color: white;
  background-color: #11150f;
  min-height: 6rem;
  width: 75%;
  margin: 0 auto;
  font-size: 20px;
}
#navbar h2 {
  margin-left: 2rem;
  margin-right: -2rem;
}
#navbar #link-list {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin-right: 3rem;
}
#navbar #link-list a {
  text-decoration: none;
  color: white;
}
#navbar #link-list li:hover, #navbar #link-list a:hover {
  cursor: pointer;
  box-shadow: 0 5px 0 0 #fffff8;
}
#navbar #categories-container, #navbar .subcategory {
  display: none;
}
#navbar #categories-wrapper .category {
  padding: 1rem 0;
  text-indent: 6px;
  margin: 0;
  background-color: #fffff8;
  color: #11150f;
}
#navbar #categories-wrapper .category:hover, #navbar #categories-wrapper .category:focus, #navbar #categories-wrapper .category:active {
  background-color: #fffff8;
  border-bottom: #11150f solid;
  color: #a5875f;
  box-shadow: inset 0 0 3px 1px white;
}
#navbar #categories-wrapper .category:hover .subcategory, #navbar #categories-wrapper .category:focus .subcategory, #navbar #categories-wrapper .category:active .subcategory {
  display: flex;
  flex-direction: column;
  color: #11150f;
  position: absolute;
  left: 9rem;
  top: 0;
  width: 9rem;
  height: 100%;
  box-shadow: 0 0 3px 1px #a5875f;
  background-color: #fffff8;
}
#navbar #categories-wrapper .category:hover .subcategory p:hover, #navbar #categories-wrapper .category:focus .subcategory p:hover, #navbar #categories-wrapper .category:active .subcategory p:hover {
  color: #a5875f;
}
#navbar #categories-wrapper .category:hover .subcategory a, #navbar #categories-wrapper .category:focus .subcategory a, #navbar #categories-wrapper .category:active .subcategory a {
  margin: 1rem 0;
  color: #11150f;
}
#navbar #categories-wrapper .category:hover .subcategory a:hover, #navbar #categories-wrapper .category:focus .subcategory a:hover, #navbar #categories-wrapper .category:active .subcategory a:hover {
  color: #a5875f;
  box-shadow: inset 5px 0 #a5875f;
}
#navbar #categories-wrapper .category .subcategory:hover {
  display: flex;
  position: absolute;
  left: 9rem;
}
#navbar #categories-wrapper:hover #categories-container, #navbar #categories-wrapper:focus #categories-container {
  display: flex;
  background-color: #fffff8;
  flex-direction: column;
  position: absolute;
  height: fit-content;
  margin: auto;
  box-shadow: 0 0 3px 1px #a5875f;
  width: 9rem;
  z-index: 99;
}
#navbar #shopping-cart-wrapper {
  position: absolute;
  right: 1%;
  top: 2.5rem;
}
#navbar #shopping-cart-wrapper #shopping-cart-btn {
  border: none;
  border-radius: 100%;
  box-shadow: inset 0 0 6px 1px #a5875f;
  background-color: #fffff8;
  position: absolute;
  width: fit-content;
  height: auto;
  margin: 0;
  margin-bottom: 28rem;
  left: -4.9rem;
}
#navbar #shopping-cart-wrapper #shopping-cart-btn img {
  height: 36px;
  width: 33px;
  padding: 6px;
}
#navbar #shopping-cart-wrapper #shopping-cart-btn:hover {
  box-shadow: inset 0 0 10px 3px #a5875f;
  transform: scale(1.1);
  cursor: pointer;
}
#navbar #shopping-cart-wrapper #shopping-cart, #navbar #shopping-cart-wrapper .slide-backwards, #navbar #shopping-cart-wrapper .slide-forwards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 21, 15, 0.9176470588);
  position: absolute;
  box-shadow: inset 0 0 3px 3px rgba(165, 135, 95, 0.7450980392);
  width: 23rem;
  right: -1rem;
  height: 30rem;
  border-radius: 12px 0px 0 12px;
}
#navbar #shopping-cart-wrapper #shopping-cart #shopping-cart-item-container, #navbar #shopping-cart-wrapper .slide-backwards #shopping-cart-item-container, #navbar #shopping-cart-wrapper .slide-forwards #shopping-cart-item-container {
  overflow: auto;
  width: 90%;
  padding: 0 1rem;
}
#navbar #shopping-cart-wrapper #shopping-cart #shopping-cart-actions-container, #navbar #shopping-cart-wrapper .slide-backwards #shopping-cart-actions-container, #navbar #shopping-cart-wrapper .slide-forwards #shopping-cart-actions-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  gap: 1rem;
}
#navbar #shopping-cart-wrapper #shopping-cart #shopping-cart-actions-container a, #navbar #shopping-cart-wrapper .slide-backwards #shopping-cart-actions-container a, #navbar #shopping-cart-wrapper .slide-forwards #shopping-cart-actions-container a, #navbar #shopping-cart-wrapper #shopping-cart #shopping-cart-actions-container button, #navbar #shopping-cart-wrapper .slide-backwards #shopping-cart-actions-container button, #navbar #shopping-cart-wrapper .slide-forwards #shopping-cart-actions-container button {
  color: #11150f;
  text-decoration: none;
  font-size: medium;
  background-color: #fffff8;
  border-radius: 6px;
}
#navbar #shopping-cart-wrapper #shopping-cart #shopping-cart-actions-container a:hover, #navbar #shopping-cart-wrapper .slide-backwards #shopping-cart-actions-container a:hover, #navbar #shopping-cart-wrapper .slide-forwards #shopping-cart-actions-container a:hover, #navbar #shopping-cart-wrapper #shopping-cart #shopping-cart-actions-container button:hover, #navbar #shopping-cart-wrapper .slide-backwards #shopping-cart-actions-container button:hover, #navbar #shopping-cart-wrapper .slide-forwards #shopping-cart-actions-container button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 3px 3px #a5875f;
}

.hidden {
  position: absolute;
  left: 1rem;
}
.hidden #shopping-cart-actions-container {
  display: none;
}

.slide-forwards {
  animation: slideforwards 0.5s forwards;
  z-index: 100;
}

.slide-backwards {
  animation: slidebackwards 0.5s forwards;
}

@keyframes slideforwards {
  0% {
    right: -24rem;
  }
  100% {
    right: -1rem;
  }
}
@keyframes slidebackwards {
  0% {
    right: -1rem;
  }
  100% {
    right: -24rem;
  }
}
#home {
  display: flex;
  background-color: #fffff8;
  width: 60%;
  height: 70%;
  overflow: hidden;
  align-items: center;
  margin: auto;
  margin-top: 3rem;
}
#home #featured-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#home #slider-arrows-wrapper {
  display: flex;
  position: absolute;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  background-color: transparent;
}
#home #slider-arrows-wrapper #slider-element-indicator {
  display: flex;
  height: 110%;
  align-items: flex-end;
  z-index: 99;
  font-size: x-large;
  color: #fffff8;
}
#home #slider-arrows-wrapper .slider-arrows {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
}
#home #slider-arrows-wrapper .slider-arrows:hover {
  background-color: rgba(17, 21, 15, 0.1568627451);
  border-radius: 100%;
  cursor: pointer;
}
#home #slider-arrows-wrapper #prev-featured-arrow {
  transform: rotateZ(180deg);
  margin-left: -3px;
}
#home .featured-content-item-container {
  display: grid;
  grid-template-columns: 40% 50%;
  justify-content: flex-start;
  text-align: center;
  margin-left: -4rem;
  width: 100%;
  height: 100%;
}
#home .featured-content-item-container .thumbnail {
  height: 100%;
  width: 100%;
}
#home .featured-content-item-container .featured-content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
}
#home .featured-content-item-container .product-title {
  margin-top: -10rem;
  margin-bottom: 6rem;
  font-size: x-large;
  font-weight: 600;
}
#home .featured-content-item-container .old-price-title {
  font-size: x-large;
}
#home .featured-content-item-container .discount-percentage-title {
  display: flex;
  align-items: center;
  background-color: rgb(252, 86, 86);
  width: fit-content;
  margin: auto;
  border-radius: 100%;
  font-size: 36px;
  padding: 1rem;
  height: 72px;
  color: white;
  margin-bottom: 2rem;
  font-weight: 900;
}
#home .featured-content-item-container .new-price-title {
  font-size: 32px;
  animation: pulsate 1s infinite alternate;
  font-weight: 600;
}

@keyframes alternateColor {
  0% {
    background-color: rgb(255, 107, 107);
  }
  100% {
    background-color: rgb(255, 42, 42);
  }
}
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
#store, #store-single-product {
  display: grid;
  grid-template-columns: 15rem auto;
  width: 100%;
  height: 89%;
  background-color: #fffff8;
  border-top: solid 3px #a5875f;
}
#store #sidebar, #store-single-product #sidebar {
  background-color: #fffff8;
  color: #11150f;
  border-right: solid #a5875f 1px;
  box-shadow: 1px 0 3px #a5875f;
  margin: 0 1rem;
  overflow-y: auto;
  padding-bottom: 3rem;
}
#store #sidebar ul, #store-single-product #sidebar ul {
  list-style: none;
}
#store #sidebar .sidebar-filter, #store-single-product #sidebar .sidebar-filter {
  text-decoration: none;
  color: #11150f;
  margin: 1rem 1rem;
  font-size: larger;
}
#store #sidebar .sidebar-filter:hover, #store-single-product #sidebar .sidebar-filter:hover {
  font-weight: 600;
}
#store #sidebar #categories-title, #store-single-product #sidebar #categories-title {
  font-size: larger;
  border-bottom: solid gray;
}
#store #sidebar #sidebar-categories-filter-container, #store-single-product #sidebar #sidebar-categories-filter-container {
  display: flex;
  flex-direction: column;
}
#store #sidebar a, #store-single-product #sidebar a {
  text-decoration: none;
}

.products-card-container {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 100%;
  height: 100%;
  margin: auto;
  gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}
.products-card-container a {
  color: #66533b;
  text-decoration: none;
}
.products-card-container .product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  text-align: center;
  height: auto;
  margin: 2rem;
  padding: 1rem 3rem;
  border-radius: 21px;
}
.products-card-container .product-card:hover {
  box-shadow: 0 0 4px 2px #a5875f;
  cursor: pointer;
  transform: scale(1.05);
}
.products-card-container .product-card button {
  border-radius: 9px;
  padding: 0.5rem;
  border: none;
}
.products-card-container .product-card button:hover {
  cursor: pointer;
  color: #a5875f;
  border: #a5875f;
}
.products-card-container .product-card .product-image {
  width: 150px;
  height: auto;
}

#about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 89%;
  width: 50%;
  color: #fffff8;
  font-size: larger;
  justify-content: center;
  margin: auto;
  line-height: 1cm;
}

#contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 89%;
  width: 100%;
  background-color: #fffff8;
  color: #a5875f;
  border-top: solid 3px #a5875f;
}
#contact-wrapper #contact-form {
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
  margin-left: 10%;
  width: 30%;
  font-size: large;
}
#contact-wrapper #contact-form input {
  margin: 1rem 0;
  border: #11150f solid 1px;
  height: 25px;
  text-indent: 6px;
}
#contact-wrapper #contact-form textarea {
  height: 6rem;
  resize: none;
  margin: 1rem 0;
  text-align: left;
}
#contact-wrapper #contact-form button {
  width: fit-content;
  margin: 2rem auto 0 auto;
}

#faq-wrapper, #place-order-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fffff8;
  background-color: #11150f;
  margin-top: 3rem;
  height: 80%;
  overflow-y: auto;
  font-size: larger;
}
#faq-wrapper ol, #place-order-wrapper ol {
  width: 50%;
}
#faq-wrapper ol li, #place-order-wrapper ol li {
  font-weight: 900;
  font-size: 20px;
  text-indent: 0.5rem;
  background-color: #a5875f;
  padding: 0.5rem 0;
  box-shadow: inset 0 0 5px 3px white;
}
#faq-wrapper ol p, #place-order-wrapper ol p {
  margin-left: 1rem;
}

#shopping-cart-item-container {
  font-size: medium;
  height: 100%;
  width: 100%;
}
#shopping-cart-item-container .shopping-cart-item {
  margin: auto;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 0;
}
#shopping-cart-item-container .shopping-cart-item img {
  width: 50px;
  height: 50px;
}
#shopping-cart-item-container .shopping-cart-item button {
  height: fit-content;
  width: fit-content;
}

#store-single-product {
  grid-template-columns: 15rem auto;
}
#product-page-container {
  display: grid;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  background-color: #fffff8;
}
#product-page-container #images-container {
  display: flex;
  height: 100px;
  background-color: #fffff8;
  padding: 0.5rem 1rem;
  border-radius: 12px;
}
#product-page-container #images-container img {
  width: 100px;
  height: 100px;
  margin: 1rem 0.5rem;
  border-radius: 12px;
  box-shadow: 0 0 3px 3px #a5875f;
}
#product-page-container #images-container img:hover {
  transform: scale(1.3);
}
#product-page-container #product-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-bottom: 3rem;
}
#product-page-container #product-page #thumbnail {
  height: 300px;
  width: auto;
}

#place-order-wrapper {
  background-color: #fffff8;
  color: #a5875f;
  align-items: center;
  margin-top: 0;
  height: 84%;
  width: 100%;
  padding-bottom: 3rem;
}
#place-order-wrapper form {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}
#place-order-wrapper form input, #place-order-wrapper form label, #place-order-wrapper form select {
  font-size: larger;
  margin-top: 1rem;
}
#place-order-wrapper button {
  width: fit-content;
  margin: auto;
  font-size: x-large;
  margin-top: 2rem;
}

#navbar-menu-active {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 99%;
  margin: auto;
  background-color: #fffff8;
  overflow-y: auto;
  z-index: 99;
  color: #11150f;
  overflow-x: hidden;
}
#navbar-menu-active h2 {
  display: none;
  margin: 0;
}
#navbar-menu-active h1 {
  margin: 0 1rem;
}
#navbar-menu-active img {
  width: 43px;
  height: 43px;
  background-color: white;
}
#navbar-menu-active #menu-icon {
  border: solid transparent 3px;
  filter: invert(1);
  background-color: #59779f;
  border-radius: 0px 0px 100px 100px;
  box-shadow: inset 0 -1px 1px black;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border: solid transparent 6px 0;
}
#navbar-menu-active #link-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  gap: 1rem;
  list-style: none;
  padding: 1rem 0;
  text-decoration: none;
}
#navbar-menu-active #link-list li {
  font-size: larger;
  border: solid #a5875f 3px;
  text-indent: 0.5cm;
  color: #11150f;
  padding: 1rem 0;
  font-weight: 600;
}
#navbar-menu-active #link-list li:hover {
  color: #11150f;
}
#navbar-menu-active #link-list a {
  text-decoration: none;
}
#navbar-menu-active #categories-container,
#navbar-menu-active .subcategory {
  display: none;
}
#navbar-menu-active #shopping-cart-wrapper {
  display: flex;
  position: absolute;
  color: #fffff8;
}
#navbar-menu-active #shopping-cart-wrapper #shopping-cart-btn {
  background-color: #fffff8;
  border: solid #a5875f;
  border-radius: 10px;
}
#navbar-menu-active #shopping-cart-wrapper img {
  width: 2rem;
  height: auto;
}

.mobile-show-cart {
  top: 1rem;
  animation: none;
  display: flex;
  overflow-y: auto;
}
.mobile-show-cart #shopping-cart-btn {
  position: absolute;
  right: 0rem;
  top: 0rem;
}
.mobile-show-cart #shopping-cart-item-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}
.mobile-show-cart #shopping-cart-item-container .shopping-cart-item {
  height: 120px;
  width: 100%;
}
.mobile-show-cart #shopping-cart-actions-container {
  display: flex;
  height: fit-content;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.mobile-show-cart #shopping-cart-actions-container button {
  width: fit-content;
  height: fit-content;
}
.mobile-show-cart #shopping-cart-actions-container a {
  display: flex;
  text-decoration: none;
}

.mobile-hide-cart {
  right: 0rem;
  top: 0rem;
  animation: none;
  z-index: 99;
}
.mobile-hide-cart #shopping-cart-item-container {
  display: none;
}
.mobile-hide-cart #shopping-cart-actions-container {
  display: none;
}
.mobile-hide-cart #shopping-cart-btn {
  position: absolute;
  left: 11rem;
  top: 1rem;
}

#shopping-cart-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media (max-width: 950px) {
  .App, body, #root {
    min-width: 0;
  }
  .hidden {
    position: absolute;
    top: 0rem;
    left: 10rem;
  }
  .products-card-container {
    grid-template-columns: 100%;
  }
  #store, #store-single-product {
    display: flex;
    flex-direction: column;
    background-color: #fffff8;
    font-size: 14px;
    border: none;
    height: 100%;
  }
  #store #sidebar, #store-single-product #sidebar {
    display: flex;
    box-shadow: none;
    height: 6rem;
    width: 100%;
    border: none;
    border-top: solid #a5875f;
    margin: 3rem -0.5rem 0 -0.5rem;
    overflow-y: hidden;
  }
  #store #sidebar #categories-title, #store-single-product #sidebar #categories-title {
    display: none;
    z-index: -3;
  }
  #store #sidebar ul, #store-single-product #sidebar ul {
    background-color: red;
    list-style: none;
  }
  #store #sidebar a > button, #store-single-product #sidebar a > button {
    margin-left: 0.8rem;
  }
  #store #sidebar .sidebar-filter, #store-single-product #sidebar .sidebar-filter {
    text-decoration: none;
    color: #11150f;
    margin: 0.5rem 1rem;
    font-size: larger;
    min-width: max-content;
  }
  #store #sidebar .sidebar-filter:hover, #store-single-product #sidebar .sidebar-filter:hover {
    font-weight: 600;
  }
  #store #sidebar #sidebar-categories-filter-container > div, #store-single-product #sidebar #sidebar-categories-filter-container > div,
  #store #sidebar #sidebar-categories-filter-container,
  #store-single-product #sidebar #sidebar-categories-filter-container {
    display: flex;
    align-items: center;
    overflow-x: auto;
    height: fit-content;
    margin: 0.5rem auto;
    margin-left: 0rem;
    width: fit-content;
  }
  #store #sidebar #sort-price, #store-single-product #sidebar #sort-price {
    display: none;
  }
  #store #sidebar a, #store-single-product #sidebar a {
    text-decoration: none;
  }
  #navbar {
    display: flex;
    background-color: #fffff8;
    width: 50px;
    min-height: 3px;
    border: solid transparent;
    justify-content: center;
    margin: 0 0;
    margin-bottom: -3rem;
  }
  #navbar h2,
  #navbar a {
    display: none;
  }
  #navbar img {
    max-width: 43px;
    max-height: 43px;
  }
  #navbar #link-list,
  #navbar li,
  #navbar a {
    display: none;
  }
  #navbar #shopping-cart-wrapper {
    display: flex;
    top: 0;
    left: 10rem;
    width: 0rem;
    height: 0rem;
  }
  #navbar #shopping-cart-wrapper #shopping-cart-item-container {
    margin: 3rem 0;
  }
  #navbar #shopping-cart-wrapper #shopping-cart-item-container .shopping-cart-item {
    margin: 0.5rem 0;
    justify-content: space-between;
  }
  #navbar #shopping-cart-wrapper #shopping-cart-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0rem;
    left: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 10px;
  }
  #home {
    display: flex;
    width: 86%;
    height: 40%;
    margin: auto;
    margin-top: 10rem;
  }
  #home #slider-arrows-wrapper {
    height: 30%;
    width: 86%;
  }
  #home #slider-element-indicator {
    margin: 0 2rem;
    margin-top: 21rem;
  }
  #home .featured-content-item-container {
    margin: 0;
  }
  #home .featured-content-item-container .thumbnail {
    width: 100%;
    height: 100%;
  }
  #home .featured-content-item-container .new-price-title {
    font-size: 20px;
    font-weight: 600;
  }
  #home .featured-content-item-container .discount-percentage-title {
    font-size: 20px;
    font-weight: 900;
  }
  #home .featured-content-item-container .featured-content-info > p {
    font-size: 20px;
  }
  #home h1 {
    display: none;
  }
  #product-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  #product-page-container #images-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #product-page-container #images-container img {
    width: 4rem;
    height: auto;
  }
  #contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    border: none;
    margin: auto;
    overflow: auto;
  }
  #contact-wrapper #contact-form {
    margin: auto;
    width: 40%;
    padding-bottom: 1rem;
  }
  #contact-wrapper div {
    margin: auto 1rem;
  }
  #about-wrapper {
    display: grid;
    height: 100%;
    margin: 3rem auto;
    width: 90%;
    overflow: auto;
  }
  #faq-wrapper, #place-order-wrapper {
    height: 100%;
    width: 100%;
  }
  #faq-wrapper ol, #place-order-wrapper ol {
    width: 80%;
  }
  #place-order-wrapper {
    text-align: center;
  }
  #place-order-wrapper div {
    margin-top: 3rem;
  }
  #place-order-wrapper form {
    width: 70%;
  }
}
@media (max-width: 950px) and (orientation: landscape) {
  .mobile-hide-cart {
    position: absolute;
    top: 0rem;
    left: 31rem;
  }
  h1 {
    display: none;
  }
  #home {
    display: flex;
    align-items: center;
    width: 86%;
    height: 75%;
    margin: auto;
    margin-top: 5rem;
  }
  #home #slider-arrows-wrapper {
    height: 30%;
    width: 86%;
    z-index: 0;
  }
  #home #slider-element-indicator {
    margin: 0 2rem;
    margin-top: 21rem;
  }
  #home .featured-content-item-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  #home .featured-content-item-container .thumbnail {
    width: 50%;
    height: 50%;
  }
  #home .featured-content-item-container .featured-content-info {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  #home .featured-content-item-container .featured-content-info .product-title {
    margin: auto;
    margin-top: 1rem;
  }
  #home .featured-content-item-container .featured-content-info .discount-percentage-title {
    width: auto;
    height: 3rem;
    margin-top: 1rem;
  }
  #home .featured-content-item-container .featured-content-info .old-price-title {
    margin: 0;
  }
  #home .featured-content-item-container .featured-content-info .new-price-title {
    font-size: 20px;
    font-weight: 600;
  }
  #home .featured-content-item-container .featured-content-info .discount-percentage-title {
    font-size: 20px;
    font-weight: 900;
    width: fit-content;
  }
  #home .featured-content-item-container .featured-content-info .featured-content-info > p {
    font-size: 20px;
  }
}/*# sourceMappingURL=index.css.map */