body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(28, 38, 48);
}

#root, body {
  min-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 188, 144);
  height: 10%;
  min-height: 5rem;
  width: 100%;
  margin: 0 3rem;
  font-size: 20px;
}
#navbar h2 {
  margin-left: 1rem;
}
#navbar #search-bar {
  display: flex;
  align-items: center;
  margin: auto;
  margin-left: 10%;
}
#navbar #link-list {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin-right: 3rem;
}
#navbar #link-list li:hover {
  cursor: pointer;
  box-shadow: 0 5px 0 0 rgb(141, 141, 141);
}
#navbar #categories-container, #navbar .subcategory {
  display: none;
}
#navbar #categories-wrapper .category {
  padding: 1rem 0;
  text-indent: 6px;
  margin: 0;
}
#navbar #categories-wrapper .category:hover {
  background-color: rgb(15, 61, 92);
  color: white;
  box-shadow: inset 0 0 3px 1px white;
}
#navbar #categories-wrapper .category:hover .subcategory {
  display: flex;
  flex-direction: column;
  color: black;
  position: absolute;
  left: 9rem;
  top: 0;
  width: 9rem;
  background-color: white;
  box-shadow: 0 0 1px 1px rgb(165, 165, 165);
}
#navbar #categories-wrapper .category:hover .subcategory p:hover {
  background-color: rgb(197, 197, 197);
}
#navbar #categories-wrapper .category:hover:first-child {
  border-radius: 12px 12px 0 0;
}
#navbar #categories-wrapper .category:hover:last-child {
  border-radius: 0 0 12px 12px;
}
#navbar #categories-wrapper .category .subcategory:hover {
  display: flex;
  position: absolute;
}
#navbar #categories-wrapper:hover #categories-container {
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  width: 9rem;
  border-radius: 12px;
  z-index: 99;
}
#navbar #shopping-cart-wrapper {
  position: absolute;
  right: 1%;
  top: 5.5rem;
}
#navbar #shopping-cart-wrapper #shopping-cart-btn {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.192);
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  margin: 0;
  margin-bottom: 28rem;
  left: -4.9rem;
}
#navbar #shopping-cart-wrapper #shopping-cart-btn img {
  height: 36px;
  width: 33px;
  padding: 6px;
}
#navbar #shopping-cart-wrapper #shopping-cart-btn:hover {
  box-shadow: inset 0 0 10px 3px rgba(0, 0, 0, 0.377);
  cursor: pointer;
}
#navbar #shopping-cart-wrapper #shopping-cart, #navbar #shopping-cart-wrapper .slide-backwards, #navbar #shopping-cart-wrapper .slide-fowards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.384);
  position: absolute;
  width: 23rem;
  right: -1rem;
  height: 30rem;
  border-radius: 12px 0px 0 12px;
}

.slide-fowards {
  animation: slidefowards 0.5s forwards;
}

.slide-backwards {
  animation: slidebackwards 0.5s forwards;
}

@keyframes slidefowards {
  0% {
    right: -24rem;
  }
  100% {
    right: -1rem;
  }
}
@keyframes slidebackwards {
  0% {
    right: -1rem;
  }
  100% {
    right: -24rem;
  }
}
#home {
  display: flex;
  background-color: white;
  width: 90%;
  height: 70%;
  overflow: hidden;
  margin: auto;
}
#home #featured-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 500%;
  height: 100%;
  background-color: wheat;
}
#home #slider-arrows-wrapper {
  display: flex;
  position: absolute;
  width: 90%;
  min-width: 42rem;
  justify-content: space-between;
  align-items: center;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.432);
}
#home #slider-arrows-wrapper #slider-element-indicator {
  display: flex;
  height: 100%;
  align-items: flex-end;
}
#home .featured-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

#store {
  display: flex;
  width: 100%;
  height: 90%;
  background-color: white;
}
#store #sidebar {
  background-color: rgb(255, 255, 255);
  border-right: solid black 1px;
  box-shadow: 3px 0 3px gray;
  width: 15rem;
}
#store #sidebar ul {
  list-style: none;
}

.products-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.products-card-container .product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 20rem;
  margin: 2rem auto;
  border: solid black 1px;
  padding: 1rem 3rem;
  background-color: rgb(235, 235, 235);
  border-radius: 21px;
}
.products-card-container .product-card:hover {
  box-shadow: 0 0 4px 4px rgb(151, 151, 151);
  cursor: pointer;
  transform: scale(1.1);
}
.products-card-container .product-card p {
  margin: auto;
}
.products-card-container .product-card .product-image {
  width: 150px;
  height: auto;
}

#about-wrapper, #login-wrapper, #faq-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
}

#contact-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  background-color: white;
}
#contact-wrapper #contact-form {
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem;
  box-shadow: 0 0 3px 3px rgb(139, 139, 139);
  min-height: 70%;
  width: 30%;
}
#contact-wrapper #contact-form input {
  margin: 1rem 0;
}
#contact-wrapper #contact-form textarea {
  width: 100%;
  height: 30%;
  resize: none;
  margin: 1rem 0;
}
#contact-wrapper #contact-form button {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto 0 auto;
}
#contact-wrapper #contact-form p {
  font-size: 30px;
}

#faq-wrapper {
  overflow-y: auto;
}
#faq-wrapper ol {
  width: 50%;
}
#faq-wrapper ol li {
  font-weight: 900;
  font-size: 20px;
  text-indent: 0.5rem;
  background-color: rgb(241, 241, 241);
  padding: 0.5rem 0;
  box-shadow: inset 0 0 5px 3px white;
}
#faq-wrapper ol p {
  margin-left: 1rem;
}/*# sourceMappingURL=index.css.map */